logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
jspm_packages
.npm
.node_repl_history
profile-*
*.swp
*code-workspace
profile*
*clinic*
*flamegraph*
build/
node_modules/
yarn-error.log/
vendor/
tmp/
dist/
.DS_Store
.idea
tmp-resolvers
package-lock.json
flow-typed
yarn.lock
orm/**/migrations/
misc/**/migrations/
databases/**/migrations/
experimental/**/*.db
.next
.vscode/
.nuxt
dev.db
*.env*
!.env.example